/crash-reports/
/logs/
/mods/
/patchouli_books/
/saves/
/shaderpacks/
/schematics/
/local/
/moddata/
/downloads/
/.curseclient
/command_history.txt
/emi.json
/minecraftinstance.json
/options.txt
/patchouli_data.json
/usercache.json
/usernamecache.json
